Problem 1: Unique Words in a Sentence

In [2]:
sentence = input("Enter sentence")

words = sentence.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words", unique_words)

Enter sentencepython is easy and python is powerful
Unique words count: 5
Unique words {'and', 'powerful', 'python', 'easy', 'is'}

Problem 2: Highest Salary from Employee Data

In [3]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_employee = max(employees, key=employees.get)
print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values

In [10]:
numbers = [45, 22, 89, 10, 66]

maximum = numbers[0]
minimum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("max:", maximum)
print("min:",minimum)

max: 89
min: 10

Problem 4: Count Products Above a Price Threshold

In [11]:
prices = list(map(int, input("Enter prices:").split()))

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Enter prices:450 1200 899 1500 300
Products above 1000: 2

Problem 5: Calculate Attendance Percentage

In [13]:
attendance = ["P", "P", "A", "P", "P"]

present_count = attendance.count("P")
total_days = len(attendance)

Percentage = (present_count / total_days) * 100

print("Attendance Percentage:", Percentage)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers

In [15]:
phone_numbers = list(map(int, input("Enter phone numbers:").split()))

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Enter phone numbers:9876543210 9123456789 9876543210
Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [18]:
text = input("Enter a string: ")

frequency = {}

for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

Enter a string: python
{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple

In [1]:
my_list = [10, 20, 30]
my_tuple = tuple(my_list)

print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary

In [2]:
employee = {
    "id": 41,
    "name": "nagesh",
    "salary": 50000
}

key = "name"

if key in employee:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

Problem 10: Calculate Average Marks

In [4]:
marks = list(map(int, input("Enter marks separated by space: ").split()))

average = sum(marks) / len(marks)

print("Average Marks:", average)

Enter marks separated by space: 70 75 80 65
Average Marks: 72.5